<!-- page to display for first time user with no interests -->

<div id="nointerests">
	<div class="interestwrapper">
		<button class="btn waves-effect waves-light" style="background-color:rgb(153,0,0);border-radius:40px;margin-top:60%;"><%= link_to "Fill Out Your Interests", edit_student_path(@student) %></button>
	</div>
</div>