<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>


<div id='main2'>

<h4>You're viewing information for <%=@dorm%>...</h4>
<br><br>
<!--<p><%=@student_interests%></p>-->

<div class="row">
	<div class="col s6">
		<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
	</div>
	<div id="interests" style="display:none"><%= @student_interests%></div>
	<div class="col s6">
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
</div>

<script>
$(function () {

    // Radialize the colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    var hash_string = $('#interests').html();
    var st;
    var interestList = hash_string.split(",");
    console.log(interestList);
    var hash_dict = [];
    for (st in interestList) {
    	console.log(interestList[st]);
    	dict = {};
    	var interest_pattern = /"(.*?)"/;
    	var interest_value = interestList[st].match(interest_pattern);
    	console.log("after matching",interest_value[1]);
    	dict['name'] = interest_value[1];

    	var value_pattern = /\d+/;
    	var real_count = interestList[st].match(value_pattern);
    	console.log("after matching",real_count[0]);
    	dict['y'] = parseInt(real_count[0]);
    	console.log(dict);
    	hash_dict.push(dict);
    }

    // Build the chart
    Highcharts.chart('container1', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Student Interests By Dormitory'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Interests',
            data: hash_dict
        }]
    });
});

$(function () {

	var hash_string = $('#interests').html();
    var st;
    var interestList = hash_string.split(",");
    console.log(interestList);
    var hash_dict = [];
    for (st in interestList) {
    	console.log(interestList[st]);
    	dict = {};
    	var interest_pattern = /"(.*?)"/;
    	var interest_value = interestList[st].match(interest_pattern);
    	console.log("after matching",interest_value[1]);
    	dict['name'] = interest_value[1];

    	var value_pattern = /\d+/;
    	var real_count = interestList[st].match(value_pattern);
    	console.log("after matching",real_count[0]);
    	dict['y'] = parseInt(real_count[0]);
    	console.log(dict);
    	hash_dict.push(dict);
    }

    // Create the chart
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Student Interests By Dormitory'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Number Of Students'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: hash_dict
        }]
    });
});
</script>
</div>