<!-- home page for users that are logged in -->

<% if current_user.role?(:student) %>
  <div id="main-container" class="container-fluid">
    <div id="main content" class="col-xs-12">
      <% if current_user.student.interests.empty? %>
        <%= render 'student_interest_form' %>
      <% else %>
        <%= render 'student_recommendations' %>
      <% end %>
    </div>
  </div>

<% elsif current_user.role?(:ra) %>
  <div id="main-container" class="container-fluid">
    <div id="main content" class="col-xs-12">
      <%= render 'ra_dashboard' %>
    </div>
  </div>

<% elsif current_user.role?(:admin) %>
  <div id="main-container" class="container-fluid">
    <div id="main content" class="col-xs-12">
      <%= render 'admin_dashboard' %>
    </div>
  </div>

<% end %>
