/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#signuppage {
  background: #222222 url(../assets/landing_bg.jpg) no-repeat center center; 
  background-position:top left;
  background-repeat:no-repeat;
  background-size: 100%;
}

#nointerests {
  background: #222222 url(../assets/cmu_bg.jpg) no-repeat center center; 
  background-position:top left;
  background-repeat:no-repeat;
  background-size: cover;
}

.interestwrapper {
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#hometitle {
  color: white;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold;
  text-shadow: 1px 1px 14px black;
  text-align: center;
  font-size:37px;
  letter-spacing: normal;
}

#signup {
	color: white !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold;
  text-shadow: 1px 1px 14px black;
  letter-spacing: normal;
}

.loginform {
  margin: 0 auto;
  width: 400px;
}

.login_label {
	color:white !important;
}
